{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - home</title>
{% endblock %}

{% block header %}
    <header>
        <a href="/">
            <img src="/img/logo.png">
        </a>
        <a href="/" class="ativa">Home</a>
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
    </header>
{% endblock %}

{% block content %}}
    <section id="conteudo">
        <div class="banner">
            <div class="content-banner">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="imagem-banner">
                <img src="/img/chef.png" alt="Chef">
            </div>
        </div>
        <h3>Mais acessadas</h3>
        <div class="receitas">

            <div class="receita">
                <img src="img/burger.png" alt="Triplo bacon burger">
                <h4>Triplo bacon burger</h4>
                <p>por Jorge Relato</p>
            </div>

            <div class="receita">
                <img src="img/pizza.png" alt="Pizza 4 estações">
                <h4>Pizza 4 estações</h4>
                <p>por Fabiana Melo</p>
            </div>

            <div class="receita">
                <img src="img/espaguete.png" alt="Espaguete ao alho">
                <h4>Espaguete ao alho</h4>
                <p>por Júlia Kinoto</p>
            </div>

            <div class="receita">
                <img src="img/lasanha.png" alt="Lasanha mac n`cheese">
                <h4>Lasanha mac n`cheese</h4>
                <p>por Juliano Vieira</p>
            </div>

            <div class="receita">
                <img src="img/doce.png" alt="Docinhos pão-do-céu">
                <h4>Docinhos pão-do-céu</h4>
                <p>por Ricardo Golvea</p>
            </div>

            <div class="receita">
                <img src="img/asinhas.png" alt="Asinhas de frango ao barbecue">
                <h4>Asinhas de frango ao barbecue</h4>
                <p>por Vania Steroski</p>
            </div>

        </div>
    </section>
{% endblock %}