{% extends "layout.njk" %}

    {% block head %}
    <title>Foodfy - 404</title>
    {% endblock %}

    
    {% block content %}}
    <section id="conteudo">
        <h1>404 - pagina não encontrada</h1>
    </section>
    {% endblock %}