{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy -
        {{recipe.title}}</title>
{% endblock %}

{% block header %}
    <header>
        <a href="/">
            <img src="/img/logo.png">
        </a>
        <a href="/">Home</a>
        <a href="/about">Sobre</a>
        <a href="/recipes" class="ativa">Receitas</a>
    </header>
{% endblock %}

{% block content %}

    <section id="conteudo">
        <div class="receitaesp" id="{{recipe.id}}">
            <img src="{{recipe.image}}" alt="{{recipe.title}}"/>
            <h1>{{recipe.title}}</h1>
            <p class="author">por
                {{recipe.author}}</p>

            <h2>Ingredientes<a class="btnE">ESCONDER</a></h2>
            <div class="detalhes">
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ingredient}}</li>
                    {% endfor %}
                </ul>
            </div>

            <h2>Modo de preparo<a class="btnE">MOSTRAR</a>
            </h2>
            <div class="detalhes">
                <ul>
                    {% for prep in recipe.preparation %}
                        <li>{{prep}}</li>
                    {% endfor %}
                </ul>
            </div>

            <h2>Informações adicionais<a class="btnE">ESCONDER</a>
            </h2>
            <div class="detalhes">
                <p>{{recipe.information}}</p>
            </div>
        </div>
    </section>
    <script src="scripts2.js"></script>
{% endblock %}